@media  (max-width: 500px ) {
   
    .head{
        position: relative;
        gap: 10px;
    }
    .navbar-head{
        display: none;
    }

    .search-hide{
        display: none;
    }

    .img-hide{
        display: none;
      }

      .body{
       position: relative;
       right: 20px;
       padding-top: 5rem;
    }

    .collection{
        
        right: 50px;
        position: relative;
       }

    .collection-btn{
      display:none;
       }

       .img{
        display: grid;
       
       }

       .card-text{
        gap: 15px; 
        padding-right: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
       }
       
       .card{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px; 
        padding-right: 20px;
       }
       
       .perks{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        position: relative;
        left: 50px;
       }

       .footer{
        display:grid;
        position: relative;
        right: 50px;
       }
       .footer-text{
        
        display:grid;
        
       }

    .cart{
     width: auto;
     height: auto;
    }
    .cart-text{
        display:block;
        
    }

    .cart_text{
        display: grid   ;
        justify-content: space-between;
        grid-template-columns: repeat(1, 1fr);
    }

    .cart-img{
        max-width: fit-content;
    }

    .cart.return{
        width: auto;
        text-align: center;
    }

       .product{
        display: grid;
        gap: 10px; 
    }

    .main{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        align-items: center;
        justify-content: center;
    }

    .md{
        justify-content: center;
        position: fixed;
        align-items: center;
        left: 5rem;
    }

    .img{
        width: 20rem;
        background: transparent;
    }

    .preview{
       position: fixed;
       
    }
    .preview-home{
      position:fixed;
        left: 10px;
        
      
     
    }

    .preview-btn{
       
        height: auto;
        bottom: 3rem;
        position: relative;
    }

    .preview-button{
        position: relative;
        right: 10rem;
    }

    .check{
        display: block;
        width: auto;
    }

    .deliver{
        width: fit-content;
    }

    .page{
       position: relative;
       right: 60px;
       width: 17rem;
    }

    .checkout-name{
        display: block;
        width: auto;
    }
    .checkout-2{
        display: block;
        width: auto;
    }

    .checkout-2-id{
        width: auto;
    }

    .checkout-final{
      position: relative;
      right: 9rem;
      width: 15rem;
    }

    .checkout-head{
      position: relative;
      right: 15px;
      gap:4px;
      width:100%;
    }
}
    
