@media screen and (max-width: 700px) {
    .head{
        justify-content: center;
        text-align: center;
        gap: 6rem;
    }

    .search-hide{
        display: none;
    }

    .img-hide{
        display: none;
      }

      .body{
        text-align: center;
        margin-top: 5rem;
    }

    .collection{
        text-align: center;
        align-items: center;
        padding: auto;
       }
    .collection-btn{
      display:none;
       }

       .img{
        display: grid;
        align-items: center;
        padding-right: 50px;
        justify-content: center;
       }

       .card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px; 
       }
       
       

       .footer{
        display:grid;
       }

       .product{
        display: grid;
        gap: 10px; 
    }

    .main{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
      
        align-items: center;
        justify-content: center;
    }
}